---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import Heading1 from "@/components/mdx/Heading1.astro";
import Heading2 from "@/components/mdx/Heading2.astro";
import Heading3 from "@/components/mdx/Heading3.astro";
import List from "@/components/mdx/List.astro";
import Paragraph from "@/components/mdx/Paragraph.astro";
import Calendar from "@/icons/general/Calendar.astro";
import Layout from "@/layouts/Layout.astro";
import { dateFormat } from "@/lib/formatter";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const data = post.data;

const { Content, headings } = await post.render();

const components = {
  h1: Heading1,
  h2: Heading2,
  h3: Heading3,
  p: Paragraph,
  ul: List,
  ol: List,
};
---

<Layout
  title={data.title}
  description={data.description || "Interstellar Code Blog"}
  keywords={data.tags?.join(", ")}
>
  <header class="border-b border-neutral-300/60 dark:border-neutral-700/60 py-4">
    <div class="w-full flex justify-between items-center gap-4 mb-2">
      <h1 class="font-geist text-4xl font-bold tracking-tight text-black dark:text-white">
        {data.title}
      </h1>

      <button
        type="button"
        onclick="history.back()"
        class="font-geist text-xs text-neutral-900 dark:text-neutral-100 px-4 py-2 rounded-lg border border-neutral-300/60 dark:border-neutral-700/60 hover:bg-neutral-100 dark:hover:bg-neutral-800 transition-colors duration-200 cursor-pointer"
      >
        Volver
      </button>
    </div>
  
    <p class="text-base text-gray-700 dark:text-gray-300 mb-2">
      {data.description}
    </p>
  
    <div class="flex justify-start mb-2">
      <div class="flex justify-center items-end gap-1 p-1 rounded border border-neutral-300/60 dark:border-neutral-700/60">
        <Calendar class="size-4" />
    
        <p class="font-geist text-xs text-neutral-900 dark:text-neutral-100">
          {dateFormat(data.date)}
        </p>
      </div>
    </div>
  </header>

  <section class="mb-8 border-b border-neutral-300/60 dark:border-neutral-700/60 py-4">
    <p class="font-geist text-lg tracking-tight leading-6 text-neutral-900/90 dark:text-neutral-100/90 mb-4">
      Tabla de contenido:
    </p>

    <ol class="list-none flex flex-col gap-2">
      {headings.map((heading: any, index: number) => (
        <li>
          <a
            href={`#${heading.slug}`}
            class="font-geist ml-4 text-sm text-black dark:text-white hover:text-black/90 dark:hover:text-white/90 transition-colors border-dotted border-b-2 border-black dark:border-white hover:border-black/90 dark:hover:border-white/90"
          >
            {index + 1}. {heading.text}
          </a>
        </li>
      ))}
    </ol>
  </section>

  <Content components={components} />
</Layout>

<style is:global>
  .astro-code {
    position: relative;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-top: 1.5rem;
  }
  
  .astro-code {
    overflow-x: auto;
  }
  
  .astro-code::before {
    content: attr(data-language);
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    font-family: 'Geist Mono', monospace;
  }
</style>
